.image-precache {
	background-image: url("file://{images}/custom_game/arrow_png.png");
	background-image: url("file://{images}/custom_game/card/card_10005_png.png");
	background-image: url("file://{images}/custom_game/card/card_10006_png.png");
	background-image: url("file://{images}/custom_game/card/card_10007_png.png");
	background-image: url("file://{images}/custom_game/card/card_10008_png.png");
	background-image: url("file://{images}/custom_game/card/card_bg_png.png");
	background-image: url("file://{images}/custom_game/hud/flag_png.png");
	background-image: url("file://{images}/custom_game/hud/head_bg_png.png");
	background-image: url("file://{images}/custom_game/hud/icon_scoreboard_mute_trade_on_png.png");
	background-image: url("file://{images}/custom_game/hud/icon_scoreboard_mute_trade_png.png");
	background-image: url("file://{images}/custom_game/hud/radialsweep_psd.png");
	background-image: url("file://{images}/custom_game/hud/rapier.png");
	background-image: url("file://{images}/custom_game/hud/roll_png.png");
	background-image: url("file://{images}/custom_game/loading.png");
	background-image: url("file://{images}/custom_game/path/path12.png");
	background-image: url("file://{images}/custom_game/path/path13.png");
	background-image: url("file://{images}/custom_game/path/path14.png");
	background-image: url("file://{images}/custom_game/path/path15.png");
	background-image: url("file://{images}/custom_game/path/path16.png");
	background-image: url("file://{images}/custom_game/path/path17.png");
	background-image: url("file://{images}/custom_game/path/path18.png");
	background-image: url("file://{images}/custom_game/path/path3.png");
	background-image: url("file://{images}/custom_game/path/path7.png");
	background-image: url("file://{images}/custom_game/path/path9.png");
	background-image: url("file://{images}/custom_game/path/path_bg.png");
}