.oprtTip {
    width: 600px;
    height: 400px;
    background-color: grey;
    horizontal-align: center;
    vertical-align: center;
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;

    &.open {
        opacity: 1;
    }

    &.close {
        opacity: 0;
    }
}

.AYZZ {
    margin-bottom: 20px;
    margin-left: 40px;
    vertical-align: bottom;
    horizontal-align: left;
}

.BuyBack {
    margin-bottom: 20px;
    margin-left: 40px;
    vertical-align: bottom;
    horizontal-align: left;
}

.Cannel {
    margin-bottom: 20px;
    margin-right: 40px;
    vertical-align: bottom;
    horizontal-align: right;
}

.PathTitle {
    font-size: 40px;
    color: darkred;
    horizontal-align: center;
}

.PathDetail {
    font-size: 20px;
    color: gainsboro;
    horizontal-align: center;
    vertical-align: center;
}

.BuyResult {
    font-size: 30px;
    color: darkred;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 20%;
}